ion-title{
  text-align: center;
}

.foto{
  padding: 5px;
}

h1{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.nota{
  border: solid;
}

ion-badge{
  margin-top: 8px;
  margin-right: 6px;
  font-size: large;
}


.texto{
  font-weight: bold;
  font-size: large;
}

.fam{
  font-size: 20px;
  color: #830303;
  border: solid 3px #830303;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2.5px;
  margin-right: 160px;
  text-align: center;
}

.desc{
  color: #000;
  margin-top: 10px;
  font-size: 14px;
}
