ion-title{
  text-align: center;
  font-size: 22px;
}

.foto{
  border: solid 3px #000;
  margin-left: 30px;
  width: 300px;
  height: 300px;
}

h1{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.nota{
  border: solid;
}

ion-badge{
  margin-top: 8px;
  margin-right: 6px;
  font-size: large;
}


.texto{
  font-weight: bold;
  font-size: large;
}

.fam{
  font-size: 20px;
  color: #000;
  font-weight: bold;
  border: solid 3px #000;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2.5px;
  margin-right: 140px;
  text-align: center;
}

.desc{
  color: #000;
  margin-top: 10px;
  font-size: 18px;
}

.inst_us{
  color: #000;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

li{
  color: #000;
  font-size: 16px;
}
