<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Clave de Sol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img
        src="https://svgsilh.com/svg_v2/1414108.svg"
        alt="Imagem Trombone"
        class="foto"
      />
    </ion-card-header>

    <ion-card-content>
      <p class="desc">
        A clave de sol origina-se da letra "G", usada no sistema antigo de
        notação para indicar a nota sol. Como a música antiga destacava a voz
        sobre qualquer outra coisa, necessitavam-se tipos de escrita que
        adequassem cada voz ao sistema de notação e as músicas existentes.
      </p>
      <p class="inst_us">Intrumentos que usam essa clave:</p>
      <li>Flauta</li>
      <li>Violino</li>
      <li>Saxofone</li>
      <li>Clarinete</li>
    </ion-card-content>
  </ion-card>
</ion-content>
