<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Guitarra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img src="https://vogga.com.br/image/produtos/guitarra/vcg601bk-1big.png" alt="Imagem Filme" class="foto">
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <h1>Guitarra</h1>
          </ion-col>
        </ion-row>
      </ion-grid>


      <p class="fam">Família: Cordas Tangidas</p>
      <p class="desc">A guitarra elétrica é um instrumento musical pertencente à família das cordas, cujo som é sempre amplificado
        eletronicamente.</p>
    </ion-card-content>

  </ion-card>
