<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Informaçoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img src="https://www.timbres.com.br/a/tjs6402-clarinete-shelter-17-chaves-corpo-em-abs-preto/clarinete-shelter-17-chaves-corpo-em-abs-preto---tjs6402_1000x1000-50.png" alt="nao tem foto" class="filme" alt="Imagem Filme" class="foto">
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8"><h1>Clarinete</h1></ion-col>
        </ion-row>
      </ion-grid>


      <ion-badge color="cinza">Sopro </ion-badge>
      <br>
      <p>O clarinete, ou clarineta, é um instrumento musical de sopro constituído por um tubo cilíndrico, geralmente de madeira, com uma boquilha cónica de palheta simples e chaves. Possui quatro registros: grave, médio, agudo e super-agudo. Quem toca o clarinete é chamado de clarinetista.</p>

    </ion-card-content>

  </ion-card>
