<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Saxofone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img src="https://19557.cdn.simplo7.net/static/19557/sku/SGRD_377_007_Saxofone-Alto-Vermont-Paris-tudel-de-bronze.png" alt="Imagem Filme" class="foto">
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8"><h1>Saxofone</h1></ion-col>
        </ion-row>
      </ion-grid>
<br>

<p class="fam">Família: Madeiras</p>
<p class="desc">O saxofone é um instrumento de sopro da família das madeiras que, curiosamente, ao contrário de todos os outros instrumentos desta família, nunca foi construído com este material.</p>
    </ion-card-content>

  </ion-card>
