.seg{
  margin-left: 5px;
}

ion-title{
  text-align: center;
  color: #000;
  font-size: 22px;
}

h3{
  font-size: 20px;
  font-weight: bold;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
}

.inst{
  height: 150px;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.tipo{
  font-size: 20px;
  color: #ff0000;
  padding: 6px;
}

h3{
  font-size: 30px;
}

