.seg{
  margin-left: 5px;
}

ion-title{
  text-align: center;
}

h3{
  font-size: 18px;
  font-weight: bold;
}



.filme{
  height: 150px;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.tipo{
  font-size: 20px;
}

h3{
  font-size: 30px;
}
