<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Informaçoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img src="https://www.timbres.com.br/a/p/garrock22-bn-bateria-nagano-garage-rock-10-12-16-22-14-blue-night-garrock22-bn/bateria-nagano-garage-rock-garrock22-bn_1000x1000-50.png" alt="Imagem Filme" class="foto">
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8"><h1>Bateria</h1></ion-col>
        </ion-row>
      </ion-grid>

     

      <ion-badge color="cinza">Percussão </ion-badge><br>

<p>A bateria é um conjunto de tambores e de pratos e outros instrumentos de percussão colocados de forma conveniente com a intenção de serem percutidos por um único músico, denominado baterista</p>
<h1>MELHOR INSTRUMENTO</h1>
    </ion-card-content>

  </ion-card>
